.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 7px solid deepskyblue;
    border-radius: 5px;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: center;
    border: 7px solid deepskyblue;
    border-radius: 5px;
    margin-top: 10px;
}

.footerButton {

}

