.App {
    text-align: center;
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 60px auto;
    border-radius: 5px;
    background-color: #524b4b;
    padding: 5px;
}

.timer {
    text-align: center;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    background-color: #2dd5f1;
    border: #2dd5f1;
}

.buttons {
    border-radius: 5px;
    width: 92%;
    margin-top: 4px;
    padding: 5px;
    border: 2px solid #2dd5f1;
}

.inc {
    background-color: #2dd5f1;
    padding: 5px;
    margin: 0 5px 0 5px;
    width: 70px;

}

.reset {
    background-color: #2dd5f1;
    padding: 5px;
    margin: 0 5px 0 5px;
    width: 70px;
}

.red {
    color: red;
    font-size: 24px;

}