.main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    margin: 60px 20px;

}

.app {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 107px;
    border: 2px solid black;
    margin: 60px 20px;
    border-radius: 5px;
    background-color: #524b4b;
    padding: 8px;
}

.countersItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-content: stretch;
}

.oneCounterItem {
    height: 100%;
}

.twoCounterItem {
    height: 100%;
}

.displaysContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.displays {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.display {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #524b4b;
    border: 2px solid #2dd5f1;
    font-size: 24px;
    margin-top: -5px;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 200px;
    border-radius: 5px;
    margin-top: 3px;
    border: 2px solid #2dd5f1;
}

.button {

}

.red {
    color: red;
    font-size: 24px;
}
